/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== BODY ===== */
body {
    font-family: Arial, sans-serif;
}

/* ===== HERO SECTION ===== */
.hero {
    background: linear-gradient(to right, #1e4fd8, #2e63f3);
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 40px;
}

/* ===== BOUTON ===== */
.hero a {
    display: inline-block;
    background: white;
    color: #1e4fd8;
    font-size: 26px;
    font-weight: bold;
    padding: 22px 60px;
    border-radius: 50px;
    text-decoration: none;
}

/* ===== MENU ===== */
nav {
    background: #0b1220;
    text-align: center;
    padding: 30px 0;
}

nav a {
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 40px;
}

/* ===== SECTION A PROPOS ===== */
section {
    padding: 40px 20px;
}

section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

section p {
    font-size: 18px;
    line-height: 1.6;
  }
